In [29]:
import logging
logger = logging.getLogger()
logger.setLevel(logging.CRITICAL)

import findspark
findspark.init()
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, sum, when, split, col, lit, max, min, expr
from pyspark.sql.functions import to_date, var_samp, variance, var_pop, month, to_timestamp, dayofweek
from pyspark.sql.types import NumericType, IntegerType, FloatType

In [30]:
spark = SparkSession.builder \
    .appName("Maestria_evidencia1") \
    .config("spark.driver.memory", "64g") \
    .config("spark.executor.memory", "32g") \
    .config("spark.sql.shuffle.partitions", "32") \
    .config("spark.default.parallelism", "16") \
    .config("spark.driver.maxResultSize", "16g") \
    .config("spark.sql.execution.arrow.pyspark.enabled", "true").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Mejores tablas
spark

In [31]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

####
#### Opcion 1 para conseguir datos
#### Bajar el archivo de Kaggle
####
####
file_path = "/Users/pauescalante/Documents/Maestria/Trimestre 7/BigData/Datos"
df = spark.read.csv(file_path, header=True, inferSchema=True)
# df de un subset de las columnas
spark_df = df[['event_type', 'user_id', 'product_id', 'category_id', 'price']]

####
####

####
#### Opcion 2 para conseguir datos
#### Bajar el archivo de Kaggle
####
####

#file_path = "2019-Nov.csv"

#df_pandas = kagglehub.load_dataset(
#    KaggleDatasetAdapter.PANDAS,
#    "mkechinov/ecommerce-behavior-data-from-multi-category-store",
#    file_path
#)

#spark_df = spark.createDataFrame(
#    df_pandas[['event_type', 'user_id', 'product_id', 'category_id', 'price']]
#)

####
####

df.head()

Row(event_time=datetime.datetime(2019, 10, 31, 17, 0), event_type='view', product_id=1003461, category_id=2053013555631882655, category_code='electronics.smartphone', brand='xiaomi', price=489.07, user_id=520088904, user_session='4d3b30da-a5e4-49df-b1a8-ba5943f1dd33')

In [33]:
df = df.selectExpr(
    'cast(event_time as timestamp) event_time',
    'cast(event_type as string) event_type',
    'cast(product_id as int) product_id',
    'cast(category_id as long) category_id',
    'cast(category_code as string) category_code',
    'cast(brand as string) brand',
    'cast(price as float) price',
    'cast(user_id as int) user_id',
    'cast(user_session as string) user_session'
)

df.printSchema()

root
 |-- event_time: timestamp (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: float (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)

In [32]:
df.printSchema()

root
 |-- event_time: timestamp (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)

In [34]:
for column in df.columns:
    count = df.filter(col(column).isNull()).count()
    if count > 0:
        print(f"Columna '{column}' tiene {count} valores null")

Columna 'category_code' tiene 35413780 valores null

Columna 'brand' tiene 15331243 valores null

[Stage 243:====================================================>(109 + 1) / 110]

Columna 'user_session' tiene 12 valores null

In [35]:
# Verificando que existen valores non-null en las columnas
non_null_count = df.filter(col("brand").isNotNull()).count()
print(f"Valores non-null 'brand': {non_null_count}")

non_null_count = df.filter(col("category_code").isNotNull()).count()
print(f"Valores non-null 'category_code': {non_null_count}")

Valores non-null 'brand': 94619500

[Stage 249:====================================================>(109 + 1) / 110]

Valores non-null 'category_code': 74536963

In [37]:
# Dado que category_code y brand tienen muchos valores nulos, se van a convertir esos valores a None para tener algo asignado
# Se pueden eliminar en el futuro si tenemos suficientes datos...
df = df.fillna({"brand": "None"})
df = df.fillna({"category_code": "None"})

# Para user_session ya que el numero es muy peque√±o, solamente se quitaran las entries con esos valores nulos
df = df.na.drop(subset=["user_session"])

In [38]:
# Verificando que existen valores non-null en las columnas
# Debe ser mayor que la verificaci√≥n anterior ya que reemplazamos valores null a "None"
non_null_count = df.filter(col("brand").isNotNull()).count()
print(f"Valores non-null 'brand': {non_null_count}")

non_null_count = df.filter(col("category_code").isNotNull()).count()
print(f"Valores non-null 'category_code': {non_null_count}")

Valores non-null 'brand': 109950731

[Stage 255:====================================================>(109 + 1) / 110]

Valores non-null 'category_code': 109950731

In [39]:
output = ""
for column in df.columns:
    # Cuantos valores existen
    distinct_count = df.select(column).distinct().count()
    
    output += f"\nColumna: '{column}' ‚Äî {distinct_count} valores distintos\n"
    output += "-" * 50 + "\n"

print(output)

[Stage 308:====================================================>  (22 + 1) / 23]

Columna: 'event_time' ‚Äî 5171097 valores distintos
--------------------------------------------------

Columna: 'event_type' ‚Äî 3 valores distintos
--------------------------------------------------

Columna: 'product_id' ‚Äî 206876 valores distintos
--------------------------------------------------

Columna: 'category_id' ‚Äî 691 valores distintos
--------------------------------------------------

Columna: 'category_code' ‚Äî 130 valores distintos
--------------------------------------------------

Columna: 'brand' ‚Äî 4304 valores distintos
--------------------------------------------------

Columna: 'price' ‚Äî 82966 valores distintos
--------------------------------------------------

Columna: 'user_id' ‚Äî 5316649 valores distintos
--------------------------------------------------

Columna: 'user_session' ‚Äî 23016650 valores distintos
--------------------------------------------------

In [40]:
# Ya que event_time tiene muchos valores distintos y no ocupamos tanto detalle, podemos cambiar event_time a ser solamente, YYYY/MM/DD
df.select("event_time").show(3, truncate=False)

+-------------------+
|event_time         |
+-------------------+
|2019-10-31 17:00:00|
|2019-10-31 17:00:00|
|2019-10-31 17:00:01|
+-------------------+
only showing top 3 rows

In [41]:
df = df.withColumn("event_time", to_date("event_time"))
df.select("event_time").show(3, truncate=False)

+----------+
|event_time|
+----------+
|2019-10-31|
|2019-10-31|
|2019-10-31|
+----------+
only showing top 3 rows

In [42]:
distinct_count = df.select("event_time").distinct().count() 
output = f"\nColumn: '{'event_time'}' ‚Äî {distinct_count} valores distintos\n"
output += "-" * 50 + "\n"
print(output)

[Stage 314:====================================================>(109 + 1) / 110]

Column: 'event_time' ‚Äî 62 valores distintos
--------------------------------------------------

In [43]:
# Para analizar los valores distintos, incluimos los valores categor√≠cos del data set
df_unique = df[['event_time', 'event_type', 'brand', 'category_id', 'category_code']]

output = ""
for column in df_unique.columns:
    distinct_values = df_unique.select(column).distinct().orderBy(column).collect()
    distinct_count = len(distinct_values)

    # Separados por comas
    values_list = [str(row[column]) for row in distinct_values[:100]]
    values_str = ", ".join(values_list)
    output += f"\nColumna: '{column}' ‚Äî {distinct_count} valores √∫nicos\n Primeros 100 valores √∫nicos:\n"
    output += "-" * 50 + "\n"
    output += values_str + "\n"
print(output)

[Stage 352:====================================================>(109 + 1) / 110]

Columna: 'event_time' ‚Äî 62 valores √∫nicos
 Primeros 100 valores √∫nicos:
--------------------------------------------------
2019-09-30, 2019-10-01, 2019-10-02, 2019-10-03, 2019-10-04, 2019-10-05, 2019-10-06, 2019-10-07, 2019-10-08, 2019-10-09, 2019-10-10, 2019-10-11, 2019-10-12, 2019-10-13, 2019-10-14, 2019-10-15, 2019-10-16, 2019-10-17, 2019-10-18, 2019-10-19, 2019-10-20, 2019-10-21, 2019-10-22, 2019-10-23, 2019-10-24, 2019-10-25, 2019-10-26, 2019-10-27, 2019-10-28, 2019-10-29, 2019-10-30, 2019-10-31, 2019-11-01, 2019-11-02, 2019-11-03, 2019-11-04, 2019-11-05, 2019-11-06, 2019-11-07, 2019-11-08, 2019-11-09, 2019-11-10, 2019-11-11, 2019-11-12, 2019-11-13, 2019-11-14, 2019-11-15, 2019-11-16, 2019-11-17, 2019-11-18, 2019-11-19, 2019-11-20, 2019-11-21, 2019-11-22, 2019-11-23, 2019-11-24, 2019-11-25, 2019-11-26, 2019-11-27, 2019-11-28, 2019-11-29, 2019-11-30

Columna: 'event_type' ‚Äî 3 valores √∫nicos
 Primeros 100 valores √∫nicos:
--------------------------------------------------
cart, purchase, view

Columna: 'brand' ‚Äî 4304 valores √∫nicos
 Primeros 100 valores √∫nicos:
--------------------------------------------------
None, a-case, a-derma, a-elita, a-mega, aardwolf, abk, abris, absolutechampion, abtoys, academie, accord, accumaster, acd, acebeam, acer, aces, achilles, acm, acme, acorp, acqua, acron, action, actiontrack, activision, acuvue, acv, acvilagrup, adagio, adam, adamas, adamex, adata, addlink, adel, adelline, adidas, adil, adile, admarginem, admira, adriatica, adrilux, advan, aeg, aeolus, aero, aerocool, aeroforce, aerolajf, aerosystem, afnan, afox, ag, agatharuizdelaprada, agl, agness, agrimotor, agu, aiken, aiko, aileron, aimile, aimoto, air-cool, airline, airmax, airwheel, aist, aivengo, ajmal, akai, akara, akel, akg, akom, akor, akpo, akro, aksion, akva, akvafor, akvalinia, akvarel, akvaton, al-ko, aladen, alaia, alaskaoriginale, alavann, albertocasiano, alca, alcasta, alcon, alctron, aldit, alerana, alesis, aletant

Columna: 'category_id' ‚Äî 691 valores √∫nicos
 Primeros 100 valores √∫nicos:
--------------------------------------------------
2053013552226107603, 2053013552259662037, 2053013552293216471, 2053013552326770905, 2053013552351936731, 2053013552385491165, 2053013552427434207, 2053013552469377249, 2053013552502931683, 2053013552570040549, 2053013552603594983, 2053013552637149417, 2053013552662315243, 2053013552695869677, 2053013552737812719, 2053013552788144369, 2053013552821698803, 2053013552863641845, 2053013552888807671, 2053013552913973497, 2053013552955916539, 2053013552989470973, 2053013553031414015, 2053013553056579841, 2053013553090134275, 2053013553115300101, 2053013553140465927, 2053013553165631753, 2053013553199186187, 2053013553224352013, 2053013553257906447, 2053013553283072273, 2053013553316626707, 2053013553341792533, 2053013553375346967, 2053013553459233053, 2053013553484398879, 2053013553526341921, 2053013553559896355, 2053013553853497655, 2053013553887052089, 2053013553912217915, 2053013553945772349, 2053013553970938175, 2053013554004492609, 2053013554071601477, 2053013554096767303, 2053013554121933129, 2053013554155487563, 2053013554189041997, 2053013554222596431, 2053013554247762257, 2053013554415534427, 2053013554449088861, 2053013554474254687, 2053013554499420513, 2053013554524586339, 2053013554566529381, 2053013554591695207, 2053013554625249641, 2053013554658804075, 2053013554692358509, 2053013554725912943, 2053013554751078769, 2053013554776244595, 2053013554834964853, 2053013554960793975, 2053013554994348409, 2053013555036291451, 2053013555069845885, 2053013555095011711, 2053013555120177537, 2053013555178897795, 2053013555220840837, 2053013555262783879, 2053013555287949705, 2053013555321504139, 2053013555355058573, 2053013555380224399, 2053013555413778833, 2053013555438944659, 2053013555464110485, 2053013555531219353, 2053013555573162395, 2053013555631882655, 2053013555657048481, 2053013555690602915, 2053013555724157349, 2053013555782877609, 2053013555816432043, 2053013556110033341, 2053013556135199167, 2053013556168753601, 2053013556202308035, 2053013556227473861, 2053013556252639687, 2053013556277805513, 2053013556311359947, 2053013556344914381, 2053013556403634639

Columna: 'category_code' ‚Äî 130 valores √∫nicos
 Primeros 100 valores √∫nicos:
--------------------------------------------------
None, accessories.bag, accessories.umbrella, accessories.wallet, apparel.belt, apparel.costume, apparel.dress, apparel.glove, apparel.jacket, apparel.jeans, apparel.jumper, apparel.scarf, apparel.shirt, apparel.shoes, apparel.shoes.ballet_shoes, apparel.shoes.espadrilles, apparel.shoes.keds, apparel.shoes.moccasins, apparel.shoes.sandals, apparel.shoes.slipons, apparel.shoes.step_ins, apparel.shorts, apparel.skirt, apparel.sock, apparel.trousers, apparel.tshirt, apparel.underwear, appliances.environment.air_conditioner, appliances.environment.air_heater, appliances.environment.fan, appliances.environment.vacuum, appliances.environment.water_heater, appliances.iron, appliances.ironing_board, appliances.kitchen.blender, appliances.kitchen.coffee_grinder, appliances.kitchen.coffee_machine, appliances.kitchen.dishwasher, appliances.kitchen.fryer, appliances.kitchen.grill, appliances.kitchen.hob, appliances.kitchen.hood, appliances.kitchen.juicer, appliances.kitchen.kettle, appliances.kitchen.meat_grinder, appliances.kitchen.microwave, appliances.kitchen.mixer, appliances.kitchen.oven, appliances.kitchen.refrigerators, appliances.kitchen.steam_cooker, appliances.kitchen.toster, appliances.kitchen.washer, appliances.personal.hair_cutter, appliances.personal.massager, appliances.personal.scales, appliances.sewing_machine, auto.accessories.alarm, auto.accessories.anti_freeze, auto.accessories.compressor, auto.accessories.parktronic, auto.accessories.player, auto.accessories.radar, auto.accessories.videoregister, auto.accessories.winch, computers.components.cooler, computers.components.cpu, computers.components.hdd, computers.components.memory, computers.components.motherboard, computers.components.power_supply, computers.components.videocards, computers.desktop, computers.ebooks, computers.notebook, computers.peripherals.camera, computers.peripherals.keyboard, computers.peripherals.monitor, computers.peripherals.mouse, computers.peripherals.printer, construction.components.faucet, construction.tools.drill, construction.tools.generator, construction.tools.light, construction.tools.painting, construction.tools.pump, construction.tools.saw, construction.tools.screw, construction.tools.soldering, construction.tools.welding, country_yard.cultivator, country_yard.furniture.bench, country_yard.furniture.hammok, country_yard.lawn_mower, electronics.audio.acoustic, electronics.audio.headphone, electronics.audio.microphone, electronics.audio.music_tools.piano, electronics.audio.subwoofer, electronics.camera.photo, electronics.camera.video

In [44]:
# Stats solamente valores num√©ricos
numeric_cols = [field.name for field in df.schema.fields if isinstance(field.dataType, NumericType)]
df.select(numeric_cols).describe().show()

[Stage 360:====================================================>(109 + 1) / 110]

+-------+--------------------+--------------------+-----------------+-------------------+
|summary|          product_id|         category_id|            price|            user_id|
+-------+--------------------+--------------------+-----------------+-------------------+
|  count|           109950731|           109950731|        109950731|          109950731|
|   mean|1.1755771377122113E7|2.057707155067225E18|291.6348042545759|5.366697784138143E8|
| stddev|1.5435645021777712E7|1.949326427113854...| 356.679979733147|2.145172855534869E7|
|    min|             1000365| 2053013552226107603|              0.0|           10300217|
|    max|           100028554| 2187707861038006932|          2574.07|          579969851|
+-------+--------------------+--------------------+-----------------+-------------------+

In [45]:
# Verificar con metodos de varianza 
variance_pop = df.agg(var_pop("price").alias("Population Variance"))
variance_samp = df.agg(var_samp("price").alias("Sample Variance"))
variance_pop.show()
variance_samp.show()

+-------------------+
|Population Variance|
+-------------------+
|  127220.6067853689|
+-------------------+

[Stage 366:====================================================>(109 + 1) / 110]

+------------------+
|   Sample Variance|
+------------------+
|127220.60794243813|
+------------------+

In [46]:
resultado = df.groupBy("event_type").count()
resultado.show()

[Stage 369:====================================================>(109 + 1) / 110]

+----------+---------+
|event_type|    count|
+----------+---------+
|      cart|  3955434|
|  purchase|  1659788|
|      view|104335509|
+----------+---------+

In [47]:
# Agrupar fechas por mes
df.groupBy(month("event_time").alias("month")) \
  .count() \
  .orderBy("month") \
  .show()

[Stage 372:====================================================>(109 + 1) / 110]

+-----+--------+
|month|   count|
+-----+--------+
|    9|  258646|
|   10|42507934|
|   11|67184151|
+-----+--------+

In [48]:
# A√±adiendo una nueva columna de categoria a partir de una existente
# La nueva columna se llamar√° 'category_subset' generada a partir de las columna category_code
from pyspark.sql.functions import col, split, instr, length, substring

df = (
    df.withColumn("parent_category", split(col("category_code"), "\\.")[0])
      .withColumn(
          "subcategory",
          when(
              instr(col("category_code"), ".") > 0,
              expr("substring(category_code, instr(category_code, '.') + 1, length(category_code))")
          ).otherwise("None")
      )
)

In [49]:
df.show(1, truncate=False)
df.printSchema()

+----------+----------+----------+-------------------+----------------------+------+------+---------+------------------------------------+---------------+-----------+
|event_time|event_type|product_id|category_id        |category_code         |brand |price |user_id  |user_session                        |parent_category|subcategory|
+----------+----------+----------+-------------------+----------------------+------+------+---------+------------------------------------+---------------+-----------+
|2019-10-31|view      |1003461   |2053013555631882655|electronics.smartphone|xiaomi|489.07|520088904|4d3b30da-a5e4-49df-b1a8-ba5943f1dd33|electronics    |smartphone |
+----------+----------+----------+-------------------+----------------------+------+------+---------+------------------------------------+---------------+-----------+
only showing top 1 row

root
 |-- event_time: date (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = false)
 |-- brand: string (nullable = false)
 |-- price: float (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)
 |-- parent_category: string (nullable = true)
 |-- subcategory: string (nullable = false)

In [20]:
# Se elimina la columna category_Code ya que tenemos dos columnas nuevas que representan a esta columna
df = df.drop("category_code")
df.show(1, truncate=False)
df.printSchema()

+----------+----------+----------+-------------------+------+------+---------+------------------------------------+---------------+-----------+
|event_time|event_type|product_id|category_id        |brand |price |user_id  |user_session                        |parent_category|subcategory|
+----------+----------+----------+-------------------+------+------+---------+------------------------------------+---------------+-----------+
|2019-10-31|view      |1003461   |2053013555631882655|xiaomi|489.07|520088904|4d3b30da-a5e4-49df-b1a8-ba5943f1dd33|electronics    |smartphone |
+----------+----------+----------+-------------------+------+------+---------+------------------------------------+---------------+-----------+
only showing top 1 row

root
 |-- event_time: date (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- brand: string (nullable = false)
 |-- price: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)
 |-- parent_category: string (nullable = true)
 |-- subcategory: string (nullable = false)

In [50]:
# Para analizar los valores distintos, incluimos los valores categor√≠cos del data set
df_unique = df[['parent_category', 'subcategory']]
output = ""
for column in df_unique.columns:
    distinct_values = df_unique.select(column).distinct().orderBy(column).collect()
    distinct_count = len(distinct_values)
    
    # Separados por comas
    values_list = [str(row[column]) for row in distinct_values]
    values_str = ", ".join(values_list)
    output += f"\nColumn: '{column}' ‚Äî {distinct_count} valores √∫nicos\n"
    output += "-" * 50 + "\n"
    output += values_str + "\n"
print(output)

[Stage 384:====================================================>(109 + 1) / 110]

Column: 'parent_category' ‚Äî 14 valores √∫nicos
--------------------------------------------------
None, accessories, apparel, appliances, auto, computers, construction, country_yard, electronics, furniture, kids, medicine, sport, stationery

Column: 'subcategory' ‚Äî 130 valores √∫nicos
--------------------------------------------------
None, accessories.alarm, accessories.anti_freeze, accessories.compressor, accessories.parktronic, accessories.player, accessories.radar, accessories.videoregister, accessories.winch, audio.acoustic, audio.headphone, audio.microphone, audio.music_tools.piano, audio.subwoofer, bag, bathroom.bath, bathroom.toilet, bedroom.bed, bedroom.blanket, bedroom.pillow, belt, bicycle, camera.photo, camera.video, carriage, cartrige, clocks, components.cooler, components.cpu, components.faucet, components.hdd, components.memory, components.motherboard, components.power_supply, components.videocards, costume, cultivator, desktop, dolls, dress, ebooks, environment.air_conditioner, environment.air_heater, environment.fan, environment.vacuum, environment.water_heater, fmcg.diapers, furniture.bench, furniture.hammok, glove, iron, ironing_board, jacket, jeans, jumper, kitchen.blender, kitchen.chair, kitchen.coffee_grinder, kitchen.coffee_machine, kitchen.dishwasher, kitchen.fryer, kitchen.grill, kitchen.hob, kitchen.hood, kitchen.juicer, kitchen.kettle, kitchen.meat_grinder, kitchen.microwave, kitchen.mixer, kitchen.oven, kitchen.refrigerators, kitchen.steam_cooker, kitchen.table, kitchen.toster, kitchen.washer, lawn_mower, living_room.cabinet, living_room.chair, living_room.sofa, notebook, peripherals.camera, peripherals.keyboard, peripherals.monitor, peripherals.mouse, peripherals.printer, personal.hair_cutter, personal.massager, personal.scales, scarf, sewing_machine, shirt, shoes, shoes.ballet_shoes, shoes.espadrilles, shoes.keds, shoes.moccasins, shoes.sandals, shoes.slipons, shoes.step_ins, shorts, skates, ski, skirt, smartphone, snowboard, sock, swing, tablet, telephone, tennis, tools.drill, tools.generator, tools.light, tools.painting, tools.pump, tools.saw, tools.screw, tools.soldering, tools.tonometer, tools.welding, toys, trainer, trousers, tshirt, umbrella, underwear, universal.light, video.projector, video.tv, wallet

In [22]:
df.groupBy("brand").count().orderBy("count", ascending=False).show(5, truncate=False)

[Stage 202:====================================================>(109 + 1) / 110]

+-------+--------+
|brand  |count   |
+-------+--------+
|None   |15331241|
|samsung|13172018|
|apple  |10381931|
|xiaomi |7721825 |
|huawei |2521331 |
+-------+--------+
only showing top 5 rows

In [51]:
df.groupBy("parent_category").count().orderBy("count", ascending=False).show(5, truncate=False)

[Stage 392:====================================================>(109 + 1) / 110]

+---------------+--------+
|parent_category|count   |
+---------------+--------+
|electronics    |40141700|
|None           |35413777|
|appliances     |13457119|
|computers      |6505575 |
|apparel        |4554025 |
+---------------+--------+
only showing top 5 rows

In [52]:
df.groupBy("subcategory").count().orderBy("count", ascending=False).show(5, truncate=False)

[Stage 395:====================================================>(109 + 1) / 110]

+-----------+--------+
|subcategory|count   |
+-----------+--------+
|None       |35413777|
|smartphone |27882227|
|clocks     |3397998 |
|video.tv   |3321794 |
|notebook   |3318177 |
+-----------+--------+
only showing top 5 rows

In [53]:
# Crear una nueva columna de price_bucket para representar rangos de precios conocidos
# Crear una nueva columna de is_weekend para agregar insights de marketing y day of week para trackear dias
df = df.withColumn(
    "price_bucket",
    when(col("price") < 100, "low")
    .when((col("price") >= 100) & (col("price") < 300), "medium")
    .otherwise("high")
)

df = df.withColumn("event_time_ts", to_timestamp(col("event_time")))
df = df.withColumn("day_of_week", dayofweek(col("event_time_ts")))
df = df.withColumn(
    "is_weekend",
    when((col("day_of_week") == 1) | (col("day_of_week") == 7), True).otherwise(False)
)

df.select("event_time", "price", "price_bucket", "day_of_week", "is_weekend").show(5)

+----------+------+------------+-----------+----------+
|event_time| price|price_bucket|day_of_week|is_weekend|
+----------+------+------------+-----------+----------+
|2019-10-31|489.07|        high|          5|     false|
|2019-10-31|293.65|      medium|          5|     false|
|2019-10-31| 28.31|         low|          5|     false|
|2019-10-31|712.87|        high|          5|     false|
|2019-10-31|183.27|      medium|          5|     false|
+----------+------+------------+-----------+----------+
only showing top 5 rows

In [54]:
resultado = df.groupBy("price_bucket").count()
resultado.show()

[Stage 399:====================================================>(109 + 1) / 110]

+------------+--------+
|price_bucket|   count|
+------------+--------+
|         low|37649697|
|      medium|39579818|
|        high|32721216|
+------------+--------+

In [55]:
# Ya que tenemos valores limpios y derivados
# Escoger el sample size de la poblaci√≥n
df.printSchema()

root
 |-- event_time: date (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = false)
 |-- brand: string (nullable = false)
 |-- price: float (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)
 |-- parent_category: string (nullable = true)
 |-- subcategory: string (nullable = false)
 |-- price_bucket: string (nullable = false)
 |-- event_time_ts: timestamp (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- is_weekend: boolean (nullable = false)